<hr>
<b>Provincia:</b> Río Negro <br>
<b>Rutas:</b> RN N° 40, RP N° 237, RP N° 258<br>
<b>Aeropuerto:</b> Aeropuerto Internacional San Carlos de Bariloche Teniente Luis Candelaria (BRC)<br><hr>
San Carlos de Bariloche es el destino turístico más visitado de toda la Patagonia y tercero a nivel nacional. Es la ciudad argentina más poblada de los Andes Patagónicos y se ubica en el Parque Nacional Nahuel Huapi.<br>
Sus reservas naturales, que incluyen lagos, bosques y montañas, y sus destacados centros de esquí son el principal atractivo y sustento económico de esta ciudad. La ciudad ha sido considerada por algunas fuentes como el segundo destino de esquí a nivel mundial.<br>
Esta ciudad ofrece hoteles, cabañas, hosterías, campings, de diferentes categorías, junto con restaurantes, bares,casino y agencias de viaje.<br>
Los atractivos turísticos varian según la temporada, ya que este lugar es turístico prácticamente todo el año, aunque acentuándose más en los meses de invierno y de verano.<br>
<br>
Se destacan las siguientes excursiones y/o lugares para visitar:<br>
<ol>
  <li><a href="template.html?lugar=bosque_de_arrayanes">Bosque de Arrayanes</a></li>
  <li> Cerro Campanario </li>
  <li> Cerro Catedral </li>
  <li> Cerro Otto </li>
  <li> Cerro Tronador - Cascada Alerces </li>
  <li> Cerro Viejo </li>
  <li> Circuito Chico </li>
  <li> Circuito Grande </li>
  <li><a href="template.html?lugar=colonia_suiza">Colonia Suiza</a></li>
  <li> Cruce a Chile por los Lagos </li>
  <li> Lago Nahuel Huapi </li>
  <li> Puerto Blest, Cascada Los Cantaros y Lago Frias </li>
</ol>
