<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://3.bp.blogspot.com/-377TMEGp0Ys/Ua0NTX5d-FI/AAAAAAAABII/o6su0dCMA-g/s1600/DSC02307.JPG" alt="Bariloche 1" >
      <div class="carousel-caption">
        <h3>Punto Panorámico</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://4.bp.blogspot.com/-kkPwkp-urVs/Ua0NweMWbbI/AAAAAAAABIQ/E2eMtdB1Dcw/s1600/DSC02430.JPG" alt="Bariloche 2" >
      <div class="carousel-caption">
        <h3>Centro Cívico</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://2.bp.blogspot.com/-08stzOojzaI/Ua0N2R1CJkI/AAAAAAAABIo/yG77sCwOmbM/s1600/DSC02431.JPG" alt="Bariloche 3">
      <div class="carousel-caption">
        <h3>Centro Cívico</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://2.bp.blogspot.com/-_ihw4p9R80c/Ua0NxjISkKI/AAAAAAAABIY/eqe5tXTSVNE/s1600/DSC04488.JPG" alt="Bariloche 4">
      <div class="carousel-caption">
        <h3>Capilla enfrente a Puerto Pañuelo</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://4.bp.blogspot.com/-fX3flNi0L8E/Ua0N5Ts-8bI/AAAAAAAABIw/1gsqF2qTS-Q/s1600/DSC02334.JPG" alt="Bariloche 5" >
      <div class="carousel-caption">
        <h3>Puerto Pañuelo</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://1.bp.blogspot.com/-P9NDvMgNPRw/Ua0UAMJP8lI/AAAAAAAABI8/wz-Xq54U0hE/s1600/DSC01817.JPG" alt="Bariloche 6" >
      <div class="carousel-caption">
        <h3>Vista del lago Nahuel Huapi</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://1.bp.blogspot.com/-VIE6lxAkk-8/Ua0UBb9_cHI/AAAAAAAABJE/tVneFe2Zqis/s1600/DSC01823.JPG" alt="Bariloche 7" >
      <div class="carousel-caption">
        <h3>Aerosillas del Cerro Campanario</h3>
      </div>
    </div>

    <div class="item">
      <img src="http://2.bp.blogspot.com/-GSwuAcpZgl4/Ua0Vm48fCBI/AAAAAAAABJQ/u-1kJtsQImY/s1600/cerro+catedral.jpg" alt="Bariloche 8" >
      <div class="carousel-caption">
        <h3>Cerro Catedral</h3>
      </div>
    </div>

  </div>



  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
