<hr>
<b>Provincia:</b> Neuquén
<p>Ubicado en la península de Quetrihué, en la márgen norte del lago Nahuel Huapi, es el único que queda en el mundo, ya hace unos años que desapareció el que se encontraba en Japón. <br>
Hoy se constituyó en un área protegida por la importancia de su especie y la variedad de la vida autóctona.
El nombre científico del Arrayán es Myrceugenella apiculata. Se estima que estos árboles nativos, junto a los de la Isla Victoria, tienen alrededor de 300 años. El arrayán es muy alto, alcanzan unos 18 metros y algunos ejemplares llegan hasta los 25 m.<br>
Su tronco llega a alcanzar unos 50 cm. de diámetro y es sumamente retorcido. La corteza, de color canela cubierta de manchas irregulares blancas, está siempre fría aunque suave al tacto se desprende en placas.<br>
Desde la ciudad de Bariloche, se puede acceder partiendo del Puerto Pañuelo navegando a través del Lago Nahuel Huapi mediante un servicio de catamaranes, desde Villa la Angostura, embarcando desde los puertos del istmo de Quetrihué en las Bahías La Mansa y La Brava de Villa La Angostura y también por tierra, a pié o en bicicleta, por un sendero peatonal de casi 13 km que recorre la sección más interesante del área abierta al público, conectando esa localidad con el bosque de arrayanes. A 1 km de su inicio, se puede acceder también a un punto panorámico.
</p>
