<hr>
<b>Provincia:</b> Río Negro <br>
<b>Rutas:</b> RN N° 40, RP N° 237, RP N° 258<br>
<b>Localidad más cercana:</b> <a href="template.html?lugar=bariloche">Bariloche</a>
<br>
<p>
Colonia Suiza es una localidad del Departamento Bariloche, Río Negro, Argentina.<br>
Se encuentra a unos 25 km de la ciudad de <a href="template.html?lugar=bariloche">San Carlos de Bariloche</a> al pie del Cerro López.<br>
Cuenta con sitios para pernocte y restaurantes que ofrecen servicios a los turistas que visitan la región. Se destaca la preparación de una comida denominada curanto, originaria del sur de Chile en la que los alimentos se cuecen en un hoyo excavado en el terreno, relleno de piedras calientes.<br>
Entre las actividades que se pueden realizar en este lugar se destacan el ascenso al Cerro López (en el cual se puede pernoctar en el refugio), cabalgatas, aventuras 4x4, canpoy (el canopy nocturno es altamente recomendado para aventureros) y caminatas.
</p>
