<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://4.bp.blogspot.com/-1r4JGgP4BEM/UZAOLlg5-bI/AAAAAAAAAdA/VWWNLKupVpY/s1600/DSC01828.JPG" alt="Colonia Suiza 1" >
    </div>

    <div class="item">
      <img src="http://1.bp.blogspot.com/-TPbBoQWo9zI/UZAONia8k7I/AAAAAAAAAdI/iDEFYWXFG_s/s1600/DSC01747.JPG" alt="Colonia Suiza 2. Lago Moreno" >
    </div>

    <div class="item">
      <img src="http://1.bp.blogspot.com/-veneT6KGSUM/UZANs7jO_nI/AAAAAAAAAcw/e-oiwhvZCBA/s1600/DSC02322.JPG" alt="Colonia Suiza 3">
    </div>

    <div class="item">
      <img src="http://3.bp.blogspot.com/-onnfWcVw-FE/UZANEnPYhXI/AAAAAAAAAcg/vuVoxGnHxZo/s1600/DSC02323.JPG" alt="Colonia Suiza 4">
    </div>

    <div class="item">
      <img src="http://3.bp.blogspot.com/-1NVn6Obnis8/UZANHgMsFkI/AAAAAAAAAco/JbrYARuclFI/s1600/DSC02324.JPG" alt="Colonia Suiza 5" >
    </div>

    <div class="item">
      <img src="http://2.bp.blogspot.com/-zQB6bSQS0Kc/UZAODxJRp9I/AAAAAAAAAc4/dR3pxS9qaNI/s1600/DSC01764.JPG" alt="Colonia Suiza 6" >
    </div>
    <div class="item">
      <img src="http://2.bp.blogspot.com/-wu5TiC14ZAs/UZUHSjaNIaI/AAAAAAAAAt0/u-X28lePikA/s1600/DSCN2807.JPG" alt="Colonia Suiza 7" >
    </div>

    <div class="item">
      <img src="http://2.bp.blogspot.com/-2e3DeeocAeg/UZUHVC0YiwI/AAAAAAAAAt8/pSxbNNuzzdM/s1600/DSCN2806.JPG" alt="Colonia Suiza 8" >
    </div>

    <div class="item">
      <img src="http://3.bp.blogspot.com/-0avTi2IMlN4/UZAOTqZIldI/AAAAAAAAAdQ/mJTvjhIyWaM/s1600/DSC01867.JPG" alt="Colonia Suiza 9" >
    </div>

    <div class="item">
      <img src="http://1.bp.blogspot.com/-_jdISLV6830/UZALGtuMC3I/AAAAAAAAAcE/v6zBUnwvWA0/s1600/DSCN2799.JPG" alt="Colonia Suiza 10" >
    </div>



  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
