<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
    <li data-target="#myCarousel" data-slide-to="10"></li>
  </ol>

  <div class="carousel-inner" role="listbox" >
    <div class="item active">
      <img src="http://1.bp.blogspot.com/-iZSicG4YLNs/UZRCRWtqpiI/AAAAAAAAArU/tJXz1EuWUAs/s1600/DSC02188.JPG" alt="El mate viajero" >
    </div>

    <div class="item">
      <img src="http://3.bp.blogspot.com/-w3Fut3sIUuw/UYlARhgvDZI/AAAAAAAAAEE/Non5mFmgkW8/s1600/DSC03870.JPG" alt="Tandil" >
    </div>

    <div class="item">
      <img src="http://1.bp.blogspot.com/-bnuv4HzSid0/UYkba9CSVVI/AAAAAAAAACU/fYfFJBuz4Ok/s1600/DSC00945.JPG" alt="Rio Atuel">
    </div>

    <div class="item">
      <img src="http://2.bp.blogspot.com/-Fv5MKt5GtYY/Uay0OfUY44I/AAAAAAAABCA/65ozdf_1l1I/s1600/273.JPG" alt="Glaciar Perito Moreno">
    </div>

    <div class="item">
      <img src="http://1.bp.blogspot.com/-XzovpAxYYbw/UZfVCgz5RxI/AAAAAAAAA1M/U1hvSnn33g4/s1600/DSC01279.JPG" alt="Cerro de los Siete Colores" >
    </div>

    <div class="item">
      <img src="http://2.bp.blogspot.com/-iHX-Y3fAT2k/UxoEqFOXDrI/AAAAAAAABNA/4vwTrsMRH1Q/s1600/DSC04583.JPG" alt="Monte Hermoso" >
    </div>
    <div class="item">
      <img src="http://3.bp.blogspot.com/-vBEXhTqY1sQ/UZAXqvInvqI/AAAAAAAAAeg/kaV890umSSc/s1600/DSC01966.JPG" alt="Salinas Grandes" >
    </div>

    <div class="item">
      <img src="http://4.bp.blogspot.com/-mYbppnGn1xs/UZAn4er2n6I/AAAAAAAAAis/3QzQXuC0IxM/s1600/villa+genrel+belgrano+3.jpg" alt="Villa General Belgrano" >
    </div>

    <div class="item">
      <img src="http://2.bp.blogspot.com/-dnf3fd4fyKY/UgmFeldvm7I/AAAAAAAABLQ/1UfWqnB-6BI/s1600/cat3.jpg" alt="Cataratas del Iguazú" >
    </div>

    <div class="item">
      <img src="http://1.bp.blogspot.com/-haF2ZLK7pdk/UaeKDAQctfI/AAAAAAAAA-Y/hTQS419OJ1I/s1600/DSC02469.JPG" alt="Tucumán" >
    </div>


    <div class="item">
      <img src="http://1.bp.blogspot.com/-n5NEkRUAU40/UYlxjHGKomI/AAAAAAAAAGE/bBItVfLfZfo/s1600/DSC04087.JPG" alt="Merlo" >
    </div>



  </div>


  <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev" target="_self">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next" target="_self">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
