<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<a class="navbar-brand" href="#">De gira por Argentina</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav">
        <li><a href="index.html">Inicio</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Patagonia<span class="caret"></span></a>
          <ol class="dropdown-menu">
            <li><a href="template.html?lugar=bariloche">Bariloche</a></li>
            <li><a href="template.html?lugar=bosque_de_arrayanes">Bosque de Arrayanes</a></li>
            <li><a href="template.html?lugar=colonia_suiza">Colonia Suiza</a></li>
            <li><a href="template.html?lugar=error">El Calafate</a></li>
            <li><a href="template.html?lugar=error">El Chaltén</a></li>
            <li><a href="template.html?lugar=error">Glaciar Perito Moreno</a></li>
            <li><a href="template.html?lugar=error">Junín de los Andes</a></li>
            <li><a href="template.html?lugar=error">Parque Nacional Lanín</a></li>
            <li><a href="template.html?lugar=error">Parque Nacional Los Glaciares</a></li>
            <li><a href="template.html?lugar=error">Península de Valdés</a></li>
            <li><a href="template.html?lugar=error">Puerto Blest</a></li>
            <li><a href="template.html?lugar=error">Puerto Madryn</a></li>
            <li><a href="template.html?lugar=error">Quila Quina</a></li>
            <li><a href="template.html?lugar=error">San Martín de los Andes</a></li>
            <li><a href="template.html?lugar=error">Villa la Angostura</a></li>

          </ol>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cuyo<span class="caret"></span></a>
          <ol class="dropdown-menu">
            <li><a href="template.html?lugar=rio_atuel">Circuito Río Atuel</a></li>
            <li><a href="template.html?lugar=error">Cristo Redentor de los Andes</a></li>
            <li><a href="template.html?lugar=error">Puente del Inca</a></li>
            <li><a href="template.html?lugar=error">San Rafael</a></li>

          </ol>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Litoral<span class="caret"></span></a>
          <ol class="dropdown-menu">
            <li><a href="template.html?lugar=error">Cataratas del Iguazú</a></li>
            <li><a href="template.html?lugar=error">Colón</a></li>
            <li><a href="template.html?lugar=error">Concepción del Uruguay</a></li>
            <li><a href="template.html?lugar=palacio_san_jose">Palacio San José</a></li>
            <li><a href="template.html?lugar=error">Parque Nacional El Palmar</a></li>
            <li><a href="template.html?lugar=rosario">Rosario</a></li>
          </ol>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Noroeste<span class="caret"></span></a>
          <ol class="dropdown-menu">
            <li><a href="template.html?lugar=error">Cachi</a></li>
            <li><a href="template.html?lugar=error">Cafayate</a></li>
            <li><a href="template.html?lugar=error">Humahuaca</a></li>
            <li><a href="template.html?lugar=error">Iruya</a></li>
            <li><a href="template.html?lugar=error">Parque Nacional Talampaya</a></li>
            <li><a href="template.html?lugar=purmamarca">Purmamarca</a></li>
            <li><a href="template.html?lugar=error">Salinas Grandes</a></li>
            <li><a href="template.html?lugar=error">Salta</a></li>
            <li><a href="template.html?lugar=error">San Antonio de los Cobres</a></li>
            <li><a href="template.html?lugar=error">San Miguel de Tucumán</a></li>
            <li><a href="template.html?lugar=error">Tilcara</a></li>
            <li><a href="template.html?lugar=error">Yungas</a></li>
          </ol>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Buenos Aires<span class="caret"></span></a>
          <ol class="dropdown-menu">
            <li><a href="template.html?lugar=error">Carhué</a></li>
            <li><a href="template.html?lugar=error">Monte Hermoso</a></li>
            <li><a href="template.html?lugar=error">San Pedro</a></li>
            <li><a href="template.html?lugar=error">Sierra de la Ventana</a></li>
            <li><a href="template.html?lugar=error">Sierra de los Padres</a></li>
            <li><a href="template.html?lugar=tandil">Tandil</a></li>
            <li><a href="template.html?lugar=error">Tigre</a></li>
            <li><a href="template.html?lugar=tres_algarrobos">Tres Algarrobos (Cuenca)</a></li>
          </ol>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Centro<span class="caret"></span></a>
          <ol class="dropdown-menu">
            <li><a href="template.html?lugar=error">La Cumbrecita</a></li>
            <li><a href="template.html?lugar=error">Merlo</a></li>
            <li><a href="template.html?lugar=error">Villa General Belgrano</a></li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
</nav>
