<hr>
<b>Provincia:</b> Entre Ríos <br>
<b>Rutas:</b> RP Nº 39 km 12<br>
<p>
  Este histórico edificio fue la residencia del primer presidente constitucional de Argentina y gobernador de la provincia de Entre Ríos, general Justo José de Urquiza.</br>
  En este edificio predominan el estilo italianizante con el criollo argentino derivado del colonial español, con sus galerías, tres patios, palomar, capilla, jardín, lago artificial y más de 30 habitaciones, una de ellas marcada por el asesinato del General el 11 de abril de 1870.</br>
  Es llamado Museo Nacional Justo José de Urquiza y se encuentra a unos 30 km al oeste de Concepción del Uruguay.</br>
  Se realizan visitas guiadas en el mismo, es un sitio muy interesante para conocer al visitar la provincia de Entre Ríos.</br>
</p>
