 <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
  </ol>


  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://4.bp.blogspot.com/-mx03V1kWdJk/UYsCsq6y99I/AAAAAAAAAO8/lyIstr3IKpQ/s1600/DSC02687.JPG" alt="Palacio San José" >
    </div>

    <div class="item ">
      <img src="http://2.bp.blogspot.com/-Bv84PoO36c8/UYsFpGh-h5I/AAAAAAAAAPU/TUrxdXlwEoA/s1600/DSC02688.JPG" alt="Palacio San José" >
    </div>

    <div class="item ">
      <img src="http://4.bp.blogspot.com/-zLMIo4x-Nuc/UYsF6tXZ6xI/AAAAAAAAAP0/DJppMMiJzrU/s1600/DSC02703.JPG" alt="Palacio San José" >
    </div>

    <div class="item">
      <img src="http://4.bp.blogspot.com/-Md9Uyc_MdN4/UYsGCPDMtVI/AAAAAAAAAQE/NRKm-JRj_FY/s1600/DSC02710.JPG" alt="Palacio San José" >
    </div>

    <div class="item ">
      <img src="http://4.bp.blogspot.com/--iPcifGZZfY/UYsF5l7iNoI/AAAAAAAAAPs/Thjfe53eLCQ/s1600/DSC02697.JPG" alt="Palacio San José" >
    </div>

    <div class="item ">
      <img src="http://3.bp.blogspot.com/-mCBrT1bRNzQ/UYsF-bcK-PI/AAAAAAAAAP8/1E3D8cC3qNc/s1600/DSC02694.JPG" alt="Palacio San José" >
    </div>


      <div class="item ">
        <img src="http://4.bp.blogspot.com/-FsgIr4HRUk4/UYsFnmLK3nI/AAAAAAAAAPM/rfiPxAAOZjA/s1600/DSC02692.JPG" alt="Palacio San José" >
      </div>

      <div class="item ">
        <img src="http://4.bp.blogspot.com/-Dur-lhurPG0/UYsFtbBJ_3I/AAAAAAAAAPc/zr9dV_kXvF4/s1600/DSC02689.JPG" alt="Palacio San José" >
      </div>

      <div class="item ">
        <img src="http://1.bp.blogspot.com/-StzDSSNlavI/UYsGMRvP6PI/AAAAAAAAAQM/Vg-pHkF7oHQ/s1600/DSC02704.JPG" alt="Palacio San José" >
      </div>

      <div class="item ">
        <img src="http://3.bp.blogspot.com/-V907ub2UE5E/UYsGQM2mCrI/AAAAAAAAAQU/Wkiq-QWw7G4/s1600/DSC02699.JPG" alt="Palacio San José" >
      </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
