<hr>
<b>Provincia:</b> Jujuy <br>
<b>Rutas:</b> a 3 Km al este de la RN Nº 9 por la RN Nº 52<br>
<p>
  A 65 km. de San Salvador de Jujuy, por la Quebrada de Humahuaca, se encuentra esta  localidad de origen prehispánico.</br>
  El entorno de Purmamarca es bellísimo: el cerro de los Siete Colores y el río Purmamarca. La imponente belleza de los cerros "rojos" del Paseo de los Colorados es un recorrido obligado para todos.</br>
  Cuenta con numerosos alojamientos de excelente categoría y servicios gastronómicos de variada carta.</br>
  En la plaza principal y sus alrededores se encuentran ferias y galerías comerciales en donde se ofrecen productos típicos, como ponchos de lana de vicuña y llama, bufandas y gorros tejidos, tapices, sonajeros de semillas, collares y pulseras de alpaca y plata, entre otros suvenires.</br>
  Una de las excursiones cercanas más recomendadas desde esta localidad es Salinas Grandes, a unos 60 km.</br>
</p>
