<b>Provincia:</b> Mendoza<br>
<b>Localidad más cercana:</b> San Rafael<br>
<b>Ruta:</b> RP Nº 173<br>
<hr>
<p>
A aproximadamente unos 25 kms de la ciudad mendocina de San Rafael encontramos el espectacular circuito turístico del Río Atuel, donde existe un entorno de gran belleza natural en el cual se puede realizar turismo aventura y diferentes actividades deportivas.<br>
Este circuito está formado por Valle Grande, el Cañón del Atuel y la Villa Turística El Nihuil.<br>
<br>

<b>VALLE GRANDE</b>
<br>
En todo el recorrido río Atuel en Valle Grande, rodeado de una de las más antiguas formaciones rocosas y en medio de una frondosa vegetación, se puede encontrar todo lo que el turista necesita: campings, cabañas, hoteles, restaurantes, proveedurías y artesanías.<br>
Existe una amplia variedad de opciones a la hora de elegir hacer turismo aventura: rafting, cool river, canopy, kayak, canotaje, cuatriciclos , cabalgatas, rappel, escalada, tirolesa, trekking, parapente, windsurf, jet esquí y paseos en catamarán en embalse.<br>
El embalse de Valle Grande se ve como un gran espejo de agua y posee una playa de arena, en el cual se puede practicar buceo, esquí, remo, motonáutica, paseos en catamarán, windsurf, pesca deportiva.<br>
<br>
<b>CAÑON DEL ATUEL</b>
<br>
Siguiendo aguas arriba de la presa Valle Grande se puede llegar al imponente  Cañón del Atuel, en el cual se pueden apreciar antiguas formaciones rocosas talladas por el viento y las lluvias durante miles de años.<br>
La imaginación de los visitantes y lugareños ha dado lugar a que en esas formaciones se observen esculturas naturales tales como: Museo de Cera, Sillón de Rivadavia, El Lagarto, Los Viejos, Los Monstruos, la Ciudad Encantada, El Mendigo, Los Jardines Colgantes, Los Monjes, entre otros.<br>
Se pueden encontrar dos lagos artificiales tales como Aisol y Tierras Blancas, así como el complejo hidroeléctrico Los Nihuiles, con sus tres centrales.<br>
<br>
<b>EL NIHUIL</b>
<br>
Siguiendo por el Cañón del Atuel, a través de un imponente camino, a 85 km de San Rafael se encuentra El Nihuil.<br>
También se puede llegar por la ruta provincial 144 recorriendo unos 75km desde San Rafael.<br>
El Nihuil es el espejo de agua más grande, sobre su margen derecha se levanta la Villa El Nihuil, la cual posee servicios al turista tales como campings, artesanías, provedurías.<br>
Sobre el margen izquierdo del lago se encuentra el Club de Pescadores de San Rafael, con campings, proveeduría, cabañas, restaurante, pileta de natación, residencias de fin de semana.<br>
</p>
