 <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>

  </ol>


  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://3.bp.blogspot.com/-NJwRpBM17ys/UY_Z9WVbOnI/AAAAAAAAAZc/FNi2_OWLoT4/s1600/Fotos+camara+034.jpg" alt="Rosario" >
    </div>

    <div class="item ">
      <img src="http://2.bp.blogspot.com/-xmJKB1HNTx4/UY_aSfPHTII/AAAAAAAAAZk/VkjpRofYHUU/s1600/Fotos+camara+021.jpg" alt="Rosario" >
    </div>

    <div class="item ">
      <img src="http://4.bp.blogspot.com/-Tqn34ukZ4Kw/UY_aU6vQJzI/AAAAAAAAAZs/pYV4EHsiheI/s1600/Fotos+camara+024.jpg" alt="Rosario" >
    </div>

    <div class="item">
      <img src="http://1.bp.blogspot.com/-znP_v8_la28/UY_aa1UraTI/AAAAAAAAAZ8/FsyT2W8jgYA/s1600/Fotos+camara+026.jpg" alt="Rosario" >
    </div>

    <div class="item ">
      <img src="http://1.bp.blogspot.com/-qjq05VPfkao/UY_al17ox6I/AAAAAAAAAaU/F4fi1z9nJWA/s1600/Fotos+camara+033.jpg" alt="Rosario" >
    </div>

    <div class="item ">
      <img src="http://2.bp.blogspot.com/-xeyRewMF-Mk/UY_aj2Z793I/AAAAAAAAAaE/RfGGsrv35OM/s1600/Fotos+camara+037.jpg" alt="Rosario" >
    </div>


      <div class="item ">
        <img src="http://3.bp.blogspot.com/-Gr4Qu_xYCa0/UY_akSGGXAI/AAAAAAAAAaM/qEwrjG4rqDk/s1600/Fotos+camara+053.jpg" alt="Rosario" >
      </div>

      <div class="item ">
        <img src="http://4.bp.blogspot.com/--5bpKsPPSVM/UY_aoB9z7rI/AAAAAAAAAac/rp6jcxjnC6U/s1600/Fotos+camara+063.jpg" alt="Rosario" >
      </div>


  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
