<hr>
<b>Provincia:</b> Buenos Aires <br>
<b>Rutas:</b>RN Nº 226 y RP N°30<br>
<hr>
<p>
  Situada en el centro sur de la provincia de Buenos Aires, esta ciudad cuenta con una gran variedad de atracciones turísticas, lo que hace que sea uno de los centros más visitados de la provincia de Buenos Aires.</br>
  En Semana Santa se produce una gran afluencia de turistas, atraídos por la representación de El Calvario, en el cerro del mismo nombre.</br>
  La ciudad también es famosa por la "piedra movediza" en el cerro "La Movediza", caída en 1912, y que posteriormente se colocó una réplica en su lugar. Este cerro es un clásico atractivo para turistas.</br>
  Otro de los cerros concurridos es el "Centinela", el cual cuenta con aerosillas, restaurantes, cabañas. juegos para niños, lugar para realizar caminatas y cabalgatas y una confitería en la cima, famosa por sus tortas y masas dulces.</br>
  El Lago del Fuerte es otro de los atractivos, el cual posee un circuito aeróbico, para los amantes del deporte; amplios estacionamientos, restarantes, una feria artesanal, juegos para niños y un club náutico.</br>
  Desde el lago se puede observar el Fuerte Independencia, un castillo moro construído sobre un cerro, al cual se puede acceder en auto o caminando. Allí se encuentra un restaurante y posee un de las mejores vistas de la ciudad, tanto en el día como en la noche.</br>
  En las afueras de la ciudad existen numeroso campings, complejos de cabañas y lugares en los cuales se realizan actividades tales como cabalgatas, cuatriciclos, trekking entre otras travesías.</br>
  Uno de los lugares ideales para los amantes de las caminatas al aire libre es la reserva natural Sierra del Tigre, una extensión de 150 hectáreas de flora y fauna enmarcada en el más puro de los escenarios rodeados de las sierras.</br>
</p>
