<b>Provincia:</b> Buenos Aires<br>
<b>Ruta:</b> RN Nº 226<br>
<br>
<p>
También conocido como Cuenca, debido al nombre de su estación de tren, es una localidad del Partido de Carlos Tejedor, al noroeste de la provincia de Buenos Aires. <br>
Fundado un 17 de Agosto de 1901, cuenta con cien años de historia, y su actividad agropecuaria es el motor impulsor del pueblo. Actualmente cuenta con aproximadamente 3000 habitantes. <br>
Su trazado fue realizado por el arquitecto Lorenzo Bugni a principios del siglo XX y posee diagonales y boulevares para nada comunes en el país, similares a la ciudad de La Plata y a ciertas aldeas francesas de la época. <br>
El aniversario del pueblo, que se realiza todos los años el fin de semana largo del 17 de Agosto, es el evento más trascendente al cual concurren muchos visitantes de la zona y de otros lugares. La característica principal de este evento es el asado popular que se realiza el día domingo al mediodía, seguido de shows musicales hasta la noche. <br>
</p>
